.sidebar {
    background-color: lightgray;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
    
}

.head {
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1.5rem;
    position: relative;
    font-weight: normal;
    font-size: 2vw;
    
}

.rooms {
    width: 100%;
    text-align: left;
    line-height: 2.2;
    padding-left: 1.5rem;
    position: relative;
    color: gray;
    font-size: 1.1vw;
    
}

 @media (min-width: 640px) {
    html { font-size: 93%; }
 }
 

 @media (min-width: 1024px) {
   html { font-size: 100%; }
 }