.modal-template {
    background-color: lightgray;
    width: 30%;
    height: 30%;
    position: fixed;
    top: 30%;
    left: 40%

}

.modal-header {
    color: black;
    padding-top: 5%;
}

.modal-subtext {
    color: gray;
    padding-bottom: 0%;
    margin-bottom: 2%;
    font-weight: normal;
}


.btn-cancel {
    background-color: #f2f2f2,
    color: gray;
}

.btn-cancel, .btn-submit {
    width: 45%;
    border: none;
}

form {
    position: relative;
}

.text-area {
    position: relative;
    width: 80%;
    height: 25px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.modal-header, .modal-subtext, .modal-footer {
    padding-left: 10%;
}