.user-modal-template {
    background-color: lightgray;
    width: 30%;
    height: 30%;
    position: fixed;
    top: 30%;
    left: 40%

}

.user-modal-header {
    color: black;
    padding-top: 5%;
}

.user-modal-subtext {
    color: gray;
    padding-bottom: 0%;
    margin-bottom: 2%;
    font-weight: normal;
}

.user-btn-submit {
    width: 90%;
    border: none;
    background-color: gray;
    color: #f2f2f2;
    font-size: 80%;
    padding: .5rem;
}

.user-text-area {
    position: relative;
    width: 80%;
    height: 25px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.user-modal-header, .user-modal-subtext, .user-modal-footer {
    padding-left: 10%;
}